<% if policy(@comment).create? %>

  <%= form_for @comment.decorate.form_path do |f| %>
      <%= render 'partials/markdown_editor_layout',
          activate: 'write',
          form_builder: f,
          preview_path: @comment.decorate.preview_path,
          write_path: @comment.decorate.write_path do %>

          <%= render 'case_comments/markdown_content', form_builder: f %>
      <% end %>
    <div class="form-group" style="overflow: hidden;">
      <%= f.submit "Add new comment",
        class: 'btn btn-primary float-right'
      %>
    </div>
  <% end %>

<% else %>

 <div class="card bg-light">
   <div class="card-body">
     <span class="float-left mr-3">
       <%= icon('info') %>
     </span>
     <%= @case.commenting_disabled_text %>
   </div>
 </div>

<% end %>
