<% content_for(:subtitle) { note.subtitle } %>

<div class="card-body">
  <p>
    <%= intro_text %>
  </p>
  <%= form_for note.form_path do |f| %>
    <% if policy %>
      <%= render 'partials/markdown_editor_layout',
            activate: 'write',
            form_builder: f,
            preview_path: note.preview_path,
            write_path: note.write_path do %>

        <%= render 'partials/markdown_content',
                   form_builder: f,
                   field: :description,
                   options: {
                       rows: 10
                   }
        %>
      <% end %>
    <% end %>
    <div class="form-group" style="overflow: hidden;">
      <%#
          The only time this should be rendered with a `policy` of `false` is
          in the `new` case when the `current_user` can't perform the action of
          the form, since users who cannot edit cannot access the edit page. If
          this ever changes then we may want to adjust the create-specific text
          below.
      %>
      <%= f.submit button_text,
        PolicyDependentOptions.wrap(
          {class: dark_button_classes},
          policy: policy,
          action_description: 'create cluster notes',
          user: current_user
      )
      %>
    </div>
  <% end %>
</div>
