<% content_for(:subtitle) { note.subtitle } %>

<%= render 'partials/tabs', activate: :notes do %>
    <div class="card-body">
        <p>
        <%= note.not_found_message %>
        </p>
        <%= form_for note.form_path do |f| %>
            <div class="form-group">
                <%= f.label :description, 'You may create notes for this cluster below.' %>
                <span class="badge badge-light ml-1">Required</span>
                <%= f.text_area :description, class: 'form-control', rows: 10 %>
            </div>
            <div class="form-group" style="overflow: hidden;">
                <%= f.submit "Create notes", class: dark_button_classes %>
            </div>
        <% end %>
    </div>
<% end %>
