
<%= render 'cases/cases_table', model: component, archive: true %>

<div class='card'>
  <%= render('partials/card_header_nav', title: 'Overview' ) %>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <%= component.readable_support_type.capitalize %> component
      <%= component.cluster_part_icons %>
    </li>
  </ul>
</div>

<div class='card'>
  <%= render 'partials/card_header_nav', title: 'Expansions' %>
  <ul>
    <% component.component_expansions.each do |expansion| %>
      <li class="list-group">
        <%= expansion %>
      </li>
    <% end %>
  </ul>
</div>

<%= render 'partials/asset_record_table',
  model: component,
  action: 'show'
%>

