
<div class='card'>
  <div class='card-header'>
    <ul class="nav">
      <li class="nav-item">
        <span class="navbar-brand">
          Overview
        </span>
      </li>
      <%= render 'cases/new_support_case_button', component: component %>
    </ul>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <%= component.readable_support_type.capitalize %> component
      <%= component.cluster_part_icons %>
    </li>
  </ul>
</div>

<div class='card'>
  <div class='card-header'>
    <ul class="nav">
      <li class="nav-item">
        <span class="navbar-brand">
          Asset Record
        </span>
      </li>
    </ul>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Field</th>
        <th>Value</th>
      </tr>
    </thead>

    <tbody>
    <% component.asset_record.each do |name, value| %>
      <tr>
        <td><%= name %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
