
<%
  raise "Unknown action: #{action}" unless [:request, :confirm].include?(action)
  action = action.to_s.inquiry

%>

<%= render 'partials/tabs', activate: :maintenance do %>
  <%= form_for maintenance_window,
    url: path,
    html: { class: 'card-body' } do |f| %>

      <h4>
        <%= action.request? ? 'Requesting m' : 'M' %>aintenance for support case <%= maintenance_window.case.case_link %>
      </h4>

    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h5>Affected components</h5>

            <%= render 'cases/associations/association_info', kase: maintenance_window.case %>
          </div>
        </div>
      </div>
      <% if action.request? %>
        <div class="col-6">
          <% if maintenance_window.case.clusters.length > 0 %>
            <p class="p-3 alert alert-warning">
              <i class="fa fa-2x fa-pull-left fa-warning" aria-hidden="true"></i>
              You are requesting maintenance on an entire cluster.
            </p>
          <% end %>
          <p class="p-3 alert alert-info">
            <i class="fa fa-2x fa-info fa-pull-left" aria-hidden="true"></i>
            To change the components affected by this maintenance request,
            <%=
              link_to "return to case #{maintenance_window.case.display_id}",
                      case_path(maintenance_window.case)
            %> and set the appropriate associations, then
            start the maintenance request again.
          </p>
        </div>
      <% end %>
    </div>

    <div class="form-group" data-test="duration-input-group">
      <%= f.label(:duration, 'Duration (in business days)') %>
      <%= f.number_field(
        :duration,
        maintenance_window.duration_attributes(action)
      ) %>
      <%= maintenance_window.invalid_feedback_div(:duration) %>
    </div>

    <%= render 'partials/date_time_select',
      model: maintenance_window,
      datetime_field_name: 'requested_start'
    %>

    <% if action.request? %>
      <div class="form-group">
        <%= check_box_tag 'mandatory'%>
        <%= label_tag 'mandatory', 'Mark this maintenance as mandatory'%>
        <small class="form-text text-muted">
          Mandatory maintenance is automatically scheduled and bypasses the usual
          user confirmation process.
        </small>
      </div>
    <% end %>

    <%= f.submit "#{action.titlecase} Maintenance",
      class: 'btn btn-primary btn-block'
    %>
  <% end %>
<% end %>
