
<%= form_for @maintenance_window, url: request.original_fullpath do |f| %>
  <%= f.hidden_field :cluster_id %>
  <%= f.hidden_field :component_id %>
  <%= f.hidden_field :service_id %>

  <div class="form-group">
    <%= f.label :case_id, 'Case to associate this maintenance with' %>
    <%= f.collection_select(
      :case_id,
      @maintenance_window.associated_cluster.cases.order(created_at: :desc).decorate,
      :id,
      :case_select_details,
      {},
      {class: ['form-control']}
    ) %>
  </div>

  <%= render 'partials/date_time_select',
    model: @maintenance_window,
    datetime_field_name: 'requested_start'
  %>
  <%= render 'partials/date_time_select',
    model: @maintenance_window,
    datetime_field_name: 'requested_end'
  %>

  <%= f.submit "Request Maintenance", class: 'btn btn-primary btn-block' %>
<% end %>
