<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <%= cluster.rendered_description.html_safe %>
  </li>
  <li class="list-group-item">
    <%= cluster.readable_support_type.capitalize %> cluster
    <%= cluster.cluster_part_icons %>
  </li>
  <% [:component, :service].each do |part_type| %>
    <% part_scope = @scope.public_send(part_type.to_s.pluralize) %>
    <li class="list-group-item">
      <%= part_scope.managed.size %>
      <%= SupportType::MANAGED_TEXT %>
      <%= part_type.to_s.pluralize(part_scope.managed.size) %>
    </li>
    <li class="list-group-item">
      <%= part_scope.advice.size %>
      <%= SupportType::ADVICE_TEXT %>
      <%= part_type.to_s.pluralize(part_scope.advice.size) %>
    </li>
  <% end %>
  <li class="list-group-item">
    <h6>MOTD</h6>
    <%= simple_format(cluster.motd) %>
  </li>
</ul>

