<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <%= cluster.rendered_description.html_safe %>
  </li>
  <li class="list-group-item">
    <%= cluster.readable_support_type.capitalize %> cluster
    <%= cluster.cluster_part_icons %>
  </li>
  <li class="list-group-item">
    <%= cluster.managed_components.length %>
    <%= SupportType::MANAGED_TEXT %>
    <%= 'component'.pluralize(cluster.managed_components.length) %>
  </li>
  <li class="list-group-item">
    <%= cluster.advice_components.length %>
    <%= SupportType::ADVICE_TEXT %>
    <%= 'component'.pluralize(cluster.advice_components.length) %>
  </li>
  <li class="list-group-item">
    <%= cluster.credits %>
    support <%= 'credit'.pluralize(cluster.credits) %> available
  </li>
  <li class="list-group-item">
    <h6>MOTD</h6>
    <%= simple_format(cluster.motd) %>
  </li>
</ul>

