<div class="card-body row">
  <div class="col-sm-12 col-md-6 card-text">
    <h3>
      <span class="cluster-shortcode"><%= cluster.shortcode %></span>
      <%= cluster.name %>
    </h3>
    <p>
      <%= cluster.rendered_description %>
    </p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <%= cluster.readable_support_type.capitalize %> cluster
        <%= cluster.cluster_part_icons %>
      </li>
      <% [:component, :service].each do |part_type| %>
        <% part_scope = @scope.public_send(part_type.to_s.pluralize) %>
        <li class="list-group-item">
          <%= part_scope.managed.size %>
          <%= SupportType::MANAGED_TEXT %>
          <%= part_type.to_s.pluralize(part_scope.managed.size) %>
        </li>
        <li class="list-group-item">
          <%= part_scope.advice.size %>
          <%= SupportType::ADVICE_TEXT %>
          <%= part_type.to_s.pluralize(part_scope.advice.size) %>
        </li>
      <% end %>
      <li class="list-group-item">
        <h6>MOTD</h6>
        <%= simple_format(cluster.motd) %>
        <%= link_to "Request change",
            new_cluster_case_path(@cluster, tool: 'motd'),
            PolicyDependentOptions.wrap(
              {
                role: 'button',
                class: "btn btn-secondary",
              },
              policy: policy(Case).create?,
              action_description: 'request a change to the MOTD',
              user: current_user
            )
        %>
      </li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-6">
    <%= render 'clusters/credit_balance', cluster: cluster do %>
      <%= link_to 'See detailed usage', cluster_credit_usage_path(cluster),
                  class: 'btn btn-primary'
      %>
    <% end %>
    <%= render 'clusters/cluster_checks', cluster: cluster do %>
      <%= link_to 'See check history', cluster_checks_path(cluster),
                  class: 'btn btn-primary'
      %>
      <% if policy(cluster).authorise? && cluster.last_checked != Date.today %>
        <%= link_to 'Set check results for today', cluster_check_submission_path(cluster),
                    class: 'btn btn-danger'
        %>
      <% end %>
    <% end %>
  </div>
</div>
