<%= form_with(model: [@site, @cluster], local: true) do |form| %>
  <% if @cluster.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@cluster.errors.count, "error") %> prohibited
        this cluster from being saved:
      </h2>
      <ul>
        <% @cluster.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :support_type %><br>
    <%= form.collection_radio_buttons :support_type, Cluster::SUPPORT_TYPES, :to_s, :to_s %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>