<% date_checks = cluster.check_results_by_date(Date.today) %>
<% content_for(:subtitle) { "Cluster checks" } %>
<%= render 'partials/tabs', activate: :checks do %>
  <div class="card-body row">
    <div class="col-sm-12">
      <h3><%= cluster.name %> Checks for <%= Date.today.to_formatted_s(:short) %> 2018</h3>
      <h3>
        <%= "#{date_checks.where(result: 'Success').count}/#{date_checks.count}
        checks successful" %>
      </h3>
      <div class="input-group date">
        <input type="text" class="form-control" value="<%= Date.today %>"/>
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-th"></span>
        </div>
      </div>
      <%= render 'partials/table',
        collection: cluster.check_results,
        message: 'No cluster check results to display' do %>
        <thead>
          <tr class="nowrap">
            <th>Engineer</th>
            <th>Check</th>
            <th>Comment</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody>
          <% date_checks.each do |check_result| %>
            <tr class="case-highlight">
              <td><%= current_user == check_result.user ?
                raw('<strong>Me</strong>') : check_result.user.name %></td>
              <td style="width: 30%;"><%= check_result.cluster_check.name %></td>
              <td style="width: 40%;">
                <%= check_result.comment %>
              </td>
              <td class="nowrap">
                <% if check_result.result == 'Success' %>
                  <i class="fa fa-check" style="color: #18bcb0;"/>
                <% elsif check_result.result == 'Failure' %>
                  <i class="fa fa-remove" style="color: red;"/>
                <% else %>
                  N/A
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </div>
  </div>
<% end %>
