<% content_for(:subtitle) { "Credit usage for #{quarter_display_name(@start_date)}" } %>
<%= render 'partials/tabs', activate: :credit_usage do %>
  <div class="card-body row">
    <div class="col-sm-12">
      <h3><%= @cluster.name %> support credit usage</h3>
    </div>
    <div class="col-sm-12">
      <div class="card-deck mb-2">
        <%= render 'clusters/credit_balance', cluster: @cluster.decorate %>
        <div class="card">
          <div class="card-body">
            <h4>Viewing usage for <%= quarter_display_name(@start_date) %></h4>
            <form
              action="<%= cluster_credit_usage_path(@cluster) %>"
              class="form"
              id="credit-quarter-selection"
              method="get"
            >
              <div class="input-group">
                <%= select_tag(
                      :start_date,
                      options_for_select(
                        @all_quarter_start_dates.map { |q|
                          [quarter_display_name(q), q.strftime('%Y-%m-%d')]
                        },
                        @start_date
                      ),
                      class: 'form-control',
                      onchange: 'this.form.submit()'
                    )
                %>
                <div class="input-group-append">
                  <input type="submit" class="btn btn-primary" value="View" />
                </div>
              </div>
            </form>
            <div class="text-center text-success">
              Total accrued this period: <%= pluralize(@accrued, 'credit') %>
            </div>
            <div class="text-center text-warning">
              Total used this period: <%= pluralize(@used, 'credit') %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <% if @events.empty? %>
        <p class="text-center no-events-message">No credit usage or accrual in this period.</p>
      <% else %>
        <ul class="list-group">
          <% @events.each do |event| %>
            <%= event.credit_usage_card %>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>
