<% content_for(:subtitle) { 'Documents' } %>
<%= render 'partials/tabs', activate: :documents do %>
  <ul class="list-group list-group-flush">
    <% cluster.documents.each do |document| %>
      <li class="list-group-item">
        <i class="fa fa-file-o mr-2"></i>
        <%= link_to document.name, document.url, target: '_blank' %>
      </li>
    <% end %>
    <% cluster.notes.each do |note| %>
      <% if policy(note).permitted? %>
        <li class="list-group-item">

          <% if note.visibility == 'engineering' %>
            <i class="fa fa-lock mr-2" title="This document is only visible to engineers"></i>
          <% else %>
            <i class="fa fa-file-text-o mr-2"></i>
          <% end %>

          <%= link_to note.title, cluster_note_path(cluster, note) %>

          <% if policy(note).edit? %>
            <%=
              link_to raw('<i class="fa fa-pencil fa-pull-right" title="This document is editable"></i>'),
                      edit_cluster_note_path(cluster, note)
            %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <div class="d-flex">
    <% if policy(Note).create? %>
      <%=
        link_to 'Create new document',
                new_cluster_note_path(cluster),
                class: 'btn btn-primary',
                style: 'flex-grow: 1;'
      %>
    <% end %>
    <% if policy(cluster).upload_document? %>
      <%= form_tag cluster_upload_document_path(@cluster), multipart: true, class: 'form-inline' do %>
        <div class="form-group">
          <label class="mx-2" for="cluster_document">Or upload a document:</label>
          <div class="input-group">
            <%=
              file_field_tag 'cluster_document', class: 'form-control'
            %>
            <div class="input-group-append">
              <%= submit_tag 'Upload', class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
