
<p>
  <strong>Name:</strong>
  <%= @cluster.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cluster.description %>
</p>
 
<p>
  <strong>Support Type:</strong>
  <%= @cluster.support_type %>
</p>
<p>
  <strong>Components</strong>
  <table>
    <tr>
      <th>Name</th>
      <th>Type</th>
    </tr>
    <% @cluster.components.each do |component| %>
      <tr>
        <td><%= component.name %></td>
        <td><%= component.component_type %></td>
        <td><%= link_to 'show', cluster_component_path(@cluster, component)  %></td>
        <td><%= link_to 'edit', edit_cluster_component_path(@cluster, component)  %></td>
        <td><%= link_to 'delete', cluster_component_path(@cluster, component),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
  <%= link_to 'New Component', new_cluster_component_path(@cluster) %>
</p>
<%= link_to 'Back', site_path(@site) %>
<%= link_to 'Edit', edit_site_cluster_path(@site, @cluster) %>