
<%= render 'cases/cases_table', model: cluster, archive: true %>

<div class='card'>
  <%= render 'partials/card_header_nav',
             title: 'Overview',
             list_items: cluster.start_maintenance_request_link %>

  <%= render 'clusters/details', cluster: cluster %>
</div>

<div class='card'>
  <%= render 'partials/card_header_nav', title: 'Maintenance' %>

  <table class="table table-responsive">
    <thead>
      <tr>
        <th>Date</th>
        <th>For</th>
        <th>Requested By</th>
        <th>Confirmed By</th>
      </tr>
    </thead>

    <tbody>
    <% cluster.open_related_maintenance_windows.each do |window| %>
      <tr>
        <td><%= window.created_at.to_formatted_s(:short) %></td>
        <td><%= window.associated_model.decorate.links %></td>
        <td><%= window.user.name %></td>
        <td>
          <% if window.confirmed_by %>
            <%= window.confirmed_by.name %>
          <% else %>
            <%= button_to raw('Unconfirmed &mdash; click to confirm'),
              confirm_maintenance_window_path(window),
              class: ['btn', 'btn-success', 'btn-block']
            %>
          <% end %>
          <% if current_user.admin? %>
            <%= button_to raw('End Maintenance'),
              end_maintenance_window_path(window),
              class: ['btn', 'btn-warning', 'btn-block']
            %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class='card'>
  <%= render 'partials/card_header_nav', title: 'Documents' %>

  <ul class="list-group list-group-flush">
    <% cluster.documents.each do |document| %>
      <li class="list-group-item">
        <%= link_to document.name, document.url, target: '_blank' %>
      </li>
    <% end %>
  </ul>
</div>

<div class='card'>
  <%= render 'partials/card_header_nav', title: 'Services' %>

  <table class="table table-responsive">
    <thead>
      <tr>
        <th>Name</th>
        <th>Support type</th>
      </tr>
    </thead>

    <tbody>
    <% cluster.services.each do |service| %>
      <tr>
        <td width='40%'>
          <%= link_to service.name, service_path(service) %>
          <%= service.cluster_part_icons %>
        </td>
        <td width='30%'><%= service.readable_support_type.capitalize %></td>
        <td width='10%'>
          <%= service.start_maintenance_request_link %>
        </td>
        <td width='20%'>
          <%= service.change_support_type_button %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<% cluster.component_groups_by_type.each do |type| %>
  <div class='card'>
    <%= render 'partials/card_header_nav', title: type.name.pluralize %>

    <div class='card-body'>
      <% type.component_groups.each do |group| %>
        <h6 class="card-title">
          <%= group.decorate.link %>
        </h6>

        <%= render 'partials/components_table', group: group %>

      <% end %>
    </div>

  </div>
<% end %>
