<p>A new comment has been added to the following case:</p>

<h3><%= @case.display_id %> <%= @case.ticket_subject %></h3>

<div class="blockquote">
  <%= simple_format(@comment.text) %>
  <br />
  <cite><%= @comment.updated_at.to_formatted_s(:long) %> - <b><%= @comment.user.name %></b></cite>
</div>
