<p>A new comment has been added to the following case:</p>

<h3><%= @case.ticket_subject %></h3>

<blockquote>
  <%= @comment.text %>
  <br />
  <cite><%= @comment.updated_at.to_formatted_s(:long) %> - <b><%= @comment.user.name %></b></cite>
</blockquote>

<p>To reply, or to see more details of this case, please visit the following link:</p>
<p><a href="<%= case_url(@case) %>"><%= @case.ticket_subject %></a></p>
