<p>A new support case has been created:</p>

<h3><%= @case.rt_ticket_subject %></h3>

<blockquote>
  <% @case.rt_ticket_text.split(/\n/).each do |line| %>
    <%= line %><br/>
  <% end %>
  <br/>
  <cite><%= @case.created_at.to_formatted_s(:long) %> - <b><%= @case.user.name %></b></cite>
</blockquote>

<p>To comment, or to see more details of this case, please visit the following link:</p>
<p><a href="<%= case_url(@case) %>"><%= @case.rt_ticket_subject %></a></p>
