
<div class="card">
  <%= render('partials/card_header_nav', title: 'New Expansion') %>
  <div class='card-block'>
    <% form_opts = {
      url: component_component_expansion_path(@cluster_part)
    } %>
    <%= form_for :component_expansion, **form_opts do |f| %>
      <div class="table-responsive">
        <table class="table m-0">
          <thead>
            <tr>
              <th>Type</th>
              <th>Slot</th>
              <th>No. Ports</th>
            </tr>
          </thead>
          <tbody>
            <tr class='form-group'>
              <td>
                <%= collection_select :expansion_type, :id, ExpansionType.all, :id, :name, class: 'form-control'%>
              </td>
              <td><%= f.text_field :slot, class: 'form-control' %></td>
              <td><%= f.text_field :ports, class: 'form-control' %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class='pb-3 px-3'>
        <%= f.submit 'Add Expansion', class: dark_button_classes %>
      </div>
    <% end %>
  </div>
</div>

<div class="card">
  <%= render 'partials/card_header_nav', title: 'Existing Expansions' %>
  <% submit_path = component_component_expansion_path @cluster_part %>
  <%= form_tag submit_path, method: 'PATCH' do %>
    <%= render 'partials/expansion_table', model: @cluster_part,  action: 'edit' %>
  <% end %>
</div>

