
<% scope ||= 'show' #Default to show scope %>

<div class='card'>
  <div class='card-header'>
    <ul class="nav">
      <li class="nav-item">
        <span class="navbar-brand">
          Asset Record <%=
            if scope == 'show' && current_user.admin?
              button_to 'edit',
                model.decorate.edit_asset_record_path,
                method: 'get',
                form: { style: 'display:inline-block;' }
            end
          %>
        </span>
      </li>
    </ul>
  </div>

  <%= form_tag model.decorate.asset_record_path, method: 'PATCH' do %>
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Field</th>
          <th>Value</th>
        </tr>
      </thead>

      <tbody>
        <% model.asset_record.each do |record| %>
          <tr>
            <% definition_id = record.definition.id %>
            <td><%= label_tag(definition_id, record.name) %></td>
            <% input = text_field_tag(definition_id, record.value) %>
            <td><%= scope == 'show' ? record.value : input %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= submit_tag("Submit") if scope == 'edit' %>
  <% end %>
</div>

