<% decorated_model = model.decorate %>

<div class='card'>
  <%= render('partials/card_header_nav', title: 'Asset Record') %>

  <%= form_tag decorated_model.asset_record_path, method: 'PATCH' do %>
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Field</th>
          <th>Value</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Component Make</td>
          <td><% if (model.is_a? ComponentGroup) && (action == 'edit') %>
            <% makes = ComponentMake.where(component_type: model.component_type) %>
            <%= collection_select :component_make,
                                  :id,
                                  makes,
                                  :id,
                                  :name,
                                  { selected: model.component_make.id } %>
          <% else %>
            <%= model.component_make.name %>
          <% end %></td>
        </tr>
        <% enum = case action
                  when 'show'; model.asset_record.map { |r| [r, r.value] }
                  when 'edit'; decorated_model.asset_record_form_inputs
                  end %>
        <% enum.each do |record, value| %>
          <tr class="form-group">
            <td width="50%">
              <%= label_tag(record.definition.id, record.name) %>
            </td>

            <td width="50%">
              <%= value %>
            </td>
          </tr>
        <% end %>

        <% if current_user.admin? %>
          <% button_class = { class: ['btn', 'btn-dark', 'btn-block'] } %>

          <tr>
            <td colspan="2">
              <%= if action == 'edit'
                    submit_tag "Submit", **button_class
                  else
                    link_to 'Edit',
                      decorated_model.edit_asset_record_path,
                      role: 'button',
                      **button_class
                  end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

