<% url = scope.dashboard_case_path(kase) %>
<tr class='case-highlight'>
  <td><%= render 'partials/table_cell_link', url: url, cell_content: kase.display_id %></td>
  <%= timestamp_td(
    description:  'Support case created',
    timestamp: kase.created_at
  ) do |content|
      render 'partials/table_cell_link', url: url, cell_content: "By #{kase.user.name} on #{content}"
  end %>
  <td><%= render 'partials/table_cell_link', url: url, cell_content: kase.user_facing_state %></td>
  <td><%= render 'partials/table_cell_link', url: url, cell_content: kase.subject %></td>
  <td<%= current_user == kase.assignee ? " class=current-user" : '' %>><%= render 'partials/table_cell_link',
    url: url,
    cell_content: if current_user == kase.assignee
                    'Me'
                  else
                    kase.assignee&.name || 'Nobody'
                  end
    %></td>
  <td>
    <%= render 'partials/table_cell_link', url: url do %>
      <%= render 'partials/association_summary', associations: kase.associations %>
    <% end %>
  </td>
  <td><%= render 'partials/table_cell_link', url: url, cell_content: kase.credit_charge&.amount %></td>
</tr>
