<% url = scope.dashboard_case_path(kase) %>
<tr class='case-highlight'>
  <td><%= render 'partials/table_cell_link', url: url, cell_content: kase.display_id %></td>
  <%= timestamp_td(
    description:  'Support case created',
    timestamp: kase.created_at
  ) do |content|
    render 'partials/table_cell_link', url: url, cell_content: content
  end %>
  <td><%= render 'partials/table_cell_link', url: url, cell_content: kase.user_facing_state %></td>
  <td><%= render 'partials/table_cell_link', url: url, cell_content: kase.user.name %></td>
  <td><%= render 'partials/table_cell_link', url: url, cell_content: kase.subject %></td>
  <td><%= render 'partials/table_cell_link',
    url: url,
    cell_content: if current_user == kase.assignee
                    raw('<strong>Me</strong>')
                  else
                    kase.assignee&.name || 'Nobody'
                  end
    %></td>
  <td>
    <%= render 'partials/table_cell_link', url: url do %>
      <%= kase.associations.first.decorate.links %>
      <% if kase.associations.length > 1 %>
        <% contents = render 'cases/associations/group_contents', items: kase.associations do %>
          <p>Affected components:</p>
        <% end %>
        <span
          class="and-more"
          data-html="true"
          data-content="<%= contents.squish %>"
          data-toggle="popover"
          data-trigger="hover"
          data-delay='{"hide": 1500}'
        >+ <%= kase.associations.length - 1 %> more</span>
      <% end %>
    <% end %>
  </td>
  <% if kase.resolved? || kase.closed? %>
    <td><%= render 'partials/table_cell_link', url: url, cell_content: kase.credit_charge&.amount %></td>
  <% end %>
</tr>
