<tr class='case-highlight'
  onclick="Turbolinks.visit('<%= scope.dashboard_case_path(kase) %>')">
    <td><%= kase.display_id %></td>
    <%= timestamp_td(
      description:  'Support case created',
      timestamp: kase.created_at
    ) %>
    <td><%= kase.user_facing_state %></td>
    <td style="white-space: nowrap;"><%= kase.user.name %></td>
    <td><%= kase.subject %></td>
    <td>
      <% if current_user == kase.assignee %>
        <%= raw('<strong>Me</strong>') %>
      <% else %>
        <%= kase.assignee&.name || 'Nobody' %>
      <% end %>
    </td>
    <%# The below onclick makes sure that the onlick event within the row does
      not get triggered when clicking the link within this column. %>
  <td onclick='event.stopPropagation();'><%= kase.association_info %></td>
  <% if kase.resolved? || kase.closed? %>
    <td><%= kase.credit_charge&.amount %></td>
  <% end %>
</tr>
