
<% helper = DateTimeSelect.new(model, datetime_field_name) %>

<%#
  This label is not very semantic since it just refers to the day field (as
  that is normally the main one we will want to change), and the other fields
  are unlabelled, but I'm not too bothered as this partial is only used for
  admin-only forms.
%>
<label for="<%= helper.id(:day) %>"><%= helper.label %></label>
<div class="form-group" data-test="<%= datetime_field_name %>">
  <div class="row datetime-select">
    <div class="input-group date col-sm-2">
      <input type="text"
             id="maintenance-datepicker"
             name="maintenance_window[requested_start]"
             class="form-control <%= model.bootstrap_valid_class('requested_start') %>"
             value=<%= @date %>
           />
    </div>
    <div class="col-md-1">&mdash;</div>
    <%= helper.select(:hour) %>
    <div>:</div>
    <%= helper.select(:minute) %>
  </div>

  <div class="row col-md-12">
    <%#
      This row, and this input within it, only exist so any errors for the
      datetime field are correctly displayed, which does not seem to be easily
      otherwise possible with Bootstrap in our situation as we want to display
      a single error for the several related selects above (related issue:
      https://github.com/twbs/bootstrap/issues/23454).
    %>
    <input class="form-control is-invalid" type="hidden"/>
    <%= model.invalid_feedback_div(datetime_field_name) %>
  </div>
</div>
