<%= form_tag '/tbd', method: 'PATCH' do %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Slot</th>
          <th>No. Ports</th>
        </tr>
      </thead>
      <tbody>
        <% model.component_expansions.each do |expansion| %>
          <tr class="form-group">
            <td><%= expansion.expansion_type.name %></td>
            <td><%= expansion.slot %></td>
            <td><%= expansion.ports %></td>
          </tr>
        <% end %>
        <% edit_path = edit_component_component_expansion_path model %>
        <%= render 'partials/edit_submit_button',
                   action: action,
                   colspan: 3,
                   edit_path: edit_path %>
      </tbody>
    </table>
  </div>
<% end %>

