<% submit_path = component_component_expansion_path @cluster_part %>
<%= form_tag submit_path, method: 'PATCH' do %>
  <div class="card-block table-responsive">
    <table class="table m-0">
      <thead>
        <tr>
          <th>Type</th>
          <th>Slot</th>
          <th>No. Ports</th>
          <% if action == 'edit' %><th>Delete</th><% end %>
        </tr>
      </thead>
      <tbody>
        <% model.component_expansions.each do |expansion| %>
          <tr class="form-group">
            <td><%= expansion.expansion_type.name %></td>
            <% case action
               when 'show' %>
              <td><%= expansion.slot %></td>
              <td><%= expansion.ports %></td>
            <% when 'edit' %>
              <td>
                <%= text_field_tag 'slot' + expansion.id.to_s,
                                   expansion.slot,
                                   class: 'form-control' %>
              </td>
              <td>
                <%= text_field_tag 'ports' + expansion.id.to_s,
                                   expansion.ports,
                                   class: 'form-control' %>
              </td>
              <td>
                <%= link_to 'X',
                            component_expansion_path(expansion),
                            role: 'button',
                            method: 'delete',
                            class: dark_button_classes,
                            data: { confirm: <<-EOF.squish
                                      Are you sure you want to delete this
                                      expansion? Any unsaved changes will
                                      be lost.
                                    EOF
                                  }
                %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class='card-block'>
    <% edit_path = edit_component_component_expansion_path model %>
    <%= render 'partials/edit_submit_button',
               action: action,
               edit_path: edit_path %>
  </div>
<% end %>

