<li class="nav-item dropdown">
  <a href="<%= active_site ? site_path(active_site) : root_path %>" class="nav-link <%= active && active_site ? 'nav-link--active' : '' %>">
    <span class="fa fa-institution"></span> <%= active_site&.name || 'Choose site' %>
    <span class="dropdown-toggle ml-2" data-toggle="dropdown" data-target="#site-chooser"></span>
  </a>
  <div class="dropdown-menu" id="site-chooser">
    <% Site.all.map {|site| %>
      <a class="dropdown-item" href="<%= site_path(site) %>">
        <span class="fa fa-institution"></span> <%= site.name %>
      </a>
    <% }
    %>
  </div>
</li>
