<% if !local_assigns.fetch(:admin_only, false) || current_user.admin? %>
  <div class="card event-card">
    <div class="card-header d-inline-flex justify-content-between align-items-center">
      <span><%= date.to_formatted_s(:long) %> - <b><%= name %></b></span>
      <div data-toggle="tooltip" data-placement="left" title="<%= details %>">
          <%= icon(type) %>
      </div>
    </div>
    <div class="card-body">
        <% if local_assigns.fetch(:formatted, false) %>
            <%= text %>
        <% else %>
            <%= simple_format(text) %>
        <% end %>
    </div>
  </div>
<% end %>
