<% manage_cases_page = current_user.admin? && @show_resolved %>
<%= content_for :subtitle do
  "#{@show_resolved ? 'Resolved' : 'Open'} Cases"
end %>
<%= render 'partials/tabs', activate: :cases do %>
  <ul class='nav nav-tabs nav-justified' >
    <%= @scope.decorate.case_form_button %>
  </ul>
  <div class='table-responsive'>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>State</th>
          <th>Creator</th>
          <th>Subject</th>
          <th>Assigned to</th>
          <th>Association</th>
          <% if manage_cases_page %>
            <th>Chargeable</th>
          <% else %>
            <th>Contact support</th>
          <% end %>
          <th>Credit charge</th>
        </tr>
      </thead>

      <tbody>
        <% @scope.cases.order(created_at: :desc).decorate.each do |c| %>
      <%
        # If @show_resolved, show only non-open cases; if not @show_resolved, show only open cases.
        # Hence logic simplifies to the below (!=)
      %>
          <% if @show_resolved != c.open?  %>
            <% if c.hidden? && !manage_cases_page %>
              <tr
                class="archived-case-row"
                title="This support case has been archived; you should open a new support case if you wish to contact Alces Flight Support"
              >
            <% elsif manage_cases_page && c.requires_credit_charge? %>
              <tr
                class="credit-charge-required-case-row"
                title="This support case is chargeable and has been completed, and needs some credits associated with it."
              >
            <% else %>
              <tr>
            <% end %>
              <td
                title="Support case created on <%= c.created_at.to_formatted_s(:long) %>"
              >
                <%= c.created_at.to_formatted_s(:short) %>
              </td>
              <td><%= c.user_facing_state %></td>
              <td><%= c.user.name %></td>
              <td><%= link_to c.subject, case_path(c) %></td>
              <td><%= c.assignee&.name || 'Nobody' %></td>
              <td><%= c.association_info %></td>
              <% if manage_cases_page %>
                <td><%= c.chargeable_symbol %></td>
              <% else %>
                <td><%= render 'cases/email_support_icon', support_case: c %></td>
              <% end %>
              <td>
                <% if c.credit_charge_allowed? && manage_cases_page %>
                  <% credit_charge = c.credit_charge || CreditCharge.new(case: c) %>
                  <%= form_for credit_charge, class: 'form-inline' do |f| %>
                    <%= f.hidden_field :case_id %>
                    <%= f.number_field :amount, class: 'form-control', required: true %>
                    <%= f.submit '+', class: 'btn btn-success', style: 'width: 100%' %>
                  <% end %>
                <% else %>
                  <%= c.credit_charge_info %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

