
<%# XXX Add required labels to required fields as in Metalware? %>

<%= form_for @case do |f| %>
  <div class="form-group">
    <%# XXX Update applicable components, or hide entirely, when this changes.
  %>
    <%= f.label :case_category_id %>
    <%= f.collection_select :case_category_id,
      @case_categories,
      :id,
      :name,
      {},
      {class: ['form-control']}
    %>
  </div>

  <%# XXX Update applicable components when this changes. %>
  <div class="form-group">
    <%= f.label :cluster_id %>
    <%= f.collection_select :cluster_id,
      @site_clusters,
      :id,
      :name,
      {},
      {class: ['form-control']}
    %>
  </div>

  <div class="form-group">
    <%= f.label :component_id %>
    <%= f.collection_select :component_id,
      @site_components,
      :id,
      :name,
      {include_blank: true},
      {class: ['form-control']}
    %>
  </div>

  <div class="form-group">
    <%= f.label :details %>
    <%= f.text_area :details, required: true, class: ['form-control'], rows: 10 %>
  </div>

  <%= f.submit(class: ['btn', 'btn-dark', 'btn-block']) %>
<% end %>
