<% content_for :subtitle { "Support Case #{@case.display_id}: #{@case.subject}" } %>

<%= render 'partials/tabs', activate: :cases do %>
  <div class='table-responsive'>
    <table class="table case-table">
      <tr style="width: 100%;">
        <th>Created</th>
        <td>
          <%= @case.created_at.to_formatted_s(:long) %>
          by
          <%= @case.user.name %>
        </td>
        <th>Assigned to</th>
        <td id="case-assignment">
          <%= render 'cases/case_assignment_controls' %>
        </td>
      </tr>
      <tr>
        <th>Association</th>
        <td><%= @case.association_info %></td>
        <th>State</th>
        <td id="case-state-controls">
          <%= @case.user_facing_state %>
          <%= render 'cases/case_state_controls' %>
        </td>
      </tr>
      <% if @case.credit_charge %>
      <tr>
        <td colspan="2"></td>
        <th>Credit usage</th>
        <td><%= pluralize(@case.credit_charge, 'credit') %></td>
      </tr>
      <% end %>
      <tr>
        <th>Category</th>
        <td><%= @case.category&.name || 'None' %></td>
        <th>Issue</th>
        <td><%= @case.issue.name %></td>
      </tr>
      <tr>
        <th>Tier</th>
        <td>
          <%= @case.tier_description %>
          <%= render 'cases/escalation_controls' %>
        </td>
        <th>Unique identifier</th>
        <td><%= @case.display_id %></td>
      </tr>
      <tr>
        <% if @case.fields %>
          <th>Fields</th>
          <td colspan="3">
            <div class="table-responsive">
              <table class="table table-sm table-striped table-bordered">
                <% @case.fields.each do |field| %>
                  <tr>
                    <th scope="row" class="nowrap">
                      <%= field.fetch('name') %>
                    </th>
                    <td class="expand">
                      <%= simple_format(field.fetch('value')) %>
                    </td>
                  </tr>
                <% end%>
              </table>
            </div>
          </td>
        <% elsif @case.change_motd_request %>
          <th>Requested MOTD</th>
          <td><%= simple_format(@case.change_motd_request.motd) %></td>
        <% end %>
      </tr>
      <%= render 'cases/time_worked' %>
      <tr>
        <th>Case history</th>
        <td colspan="3">
          <%= render 'case_comments/form' %>
          <% @case.events.each do |event| %>
            <%= event.decorate.event_card %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
<% end %>
