<%= render 'partials/tabs', activate: :cases do %>
  <div class='table-responsive'>
    <table class="table case-table">
      <% if @case.change_request.present? %>
        <% verb = @case.change_request.draft? && current_user.admin? ? 'View / Edit' : 'View' %>
        <tr>
          <td colspan="4">
            <div class="alert alert-info alert-cr-info">
              <i class="fa fa-2x fa-paperclip mr-2" aria-hidden="true"></i>
              <span>
                This case has an attached change request.
              </span>

              <span>
                CR state: <b><%= @case.change_request.user_facing_state %></b>
              </span>

              <%= link_to verb,
                          cluster_case_change_request_path(@case.cluster, @case),
                          class: 'btn btn-primary',
                          role: 'button'
              %>
            </div>
          </td>
        </tr>
      <% end %>
      <tr style="width: 100%;">
        <th>Created</th>
        <td>
          <%= @case.created_at.to_formatted_s(:long) %>
          by
          <%= @case.user.name %>
        </td>
        <th>Assigned to</th>
        <td id="case-assignment">
          <%= render 'cases/case_assignment_controls' %>
        </td>
      </tr>
      <tr>
        <th rowspan="<%= @case.credit_charge ? 4 : 3 %>">Affected components</th>
        <td rowspan="<%= @case.credit_charge ? 4 : 3 %>">
          <%= render 'cases/associations/association_info', kase: @case %>
          <% if policy(MaintenanceWindow).create? && @case.open? %>
            <%= link_to 'Request maintenance',
                        @case.request_maintenance_path,
                        class: 'btn btn-secondary ml-2 btn-sm',
                        role: 'button'
            %>
          <% end %>
        </td>
        <th>State</th>
        <td id="case-state-controls">
          <%= @case.user_facing_state %>
          <%= render 'cases/case_state_controls' %>
        </td>
      </tr>
      <% if @case.credit_charge %>
      <tr>
        <th>Credit usage</th>
        <td><%= pluralize(@case.credit_charge.amount, 'credit') %></td>
      </tr>
      <% end %>
      <tr>
        <th>Issue type</th>
        <td><%= @case.issue_type_text %></td>
      </tr>
      <tr>
        <th>Tier</th>
        <td>
          <%= @case.tier_description %>
          <%= render 'cases/escalation_controls' %>
        </td>
      </tr>
      <%= render 'cases/fields_or_requests_row', kase: @case %>
      <%= render 'cases/time_worked_row' %>
      <tr>
        <th>Case history</th>
        <td colspan="3">
          <%= render 'case_comment_toggle_controls' %>
          <%= render 'case_comments/form' %>
          <% @case.events.each do |event| %>
            <%= event.decorate.event_card %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
<% end %>
