<% content_for :title do %>
  <div class="card title-card">
    <div class="card-body">
      <h1>
        <% if policy(@case).edit? %>
          <div class="case-subject-edit collapse show">
            <%= @case.display_id %>: <%= @case.subject %>
            <button
              class="btn btn-link"
              data-toggle="collapse"
              data-target=".case-subject-edit"
              id="case-subject-edit"
              title="Edit subject"
            >
              <i class="fa fa-2x fa-pencil"></i>
            </button>
          </div>
          <div class="case-subject-edit collapse">
            <%= form_for @case do |f| %>
              <div class="form-row align-items-center">
                <div class="col">
                  <%= f.text_field :subject, class: 'form-control form-control-lg' %>
                </div>
                <div class="col-auto">
                  <%= f.submit 'Change subject', class: 'btn btn-primary mb-2' %>
                  <a class="btn btn-secondary mb-2" data-toggle="collapse" data-target=".case-subject-edit" tabindex="1">
                    Cancel
                  </a>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
          <%= @case.subject %>
        <% end %>
      </h1>
    </div>
  </div>
<% end %>
<%= render 'partials/tabs', activate: :cases do %>
  <div class='table-responsive'>
    <table class="table case-table">
      <% if @case.change_request.present? %>
        <% verb = @case.change_request.draft? && current_user.admin? ? 'View / Edit' : 'View' %>
        <tr>
          <td colspan="4">
            <div class="alert alert-info alert-cr-info">
              <i class="fa fa-2x fa-paperclip mr-2" aria-hidden="true"></i>
              <span>
                This case has an attached change request.
              </span>

              <span>
                CR state: <b><%= @case.change_request.user_facing_state %></b>
              </span>

              <%= link_to verb,
                          cluster_case_change_request_path(@case.cluster, @case),
                          class: 'btn btn-primary',
                          role: 'button'
              %>
            </div>
          </td>
        </tr>
      <% end %>
      <tr style="width: 100%;">
        <th>Created</th>
        <td>
          By
          <em><%= @case.user.name %></em>
          on
          <em><%= @case.created_at.to_formatted_s(:short) %></em>
        </td>
        <th nowrap>Assigned engineer</th>
        <td id="case-engineer-assignment">
          <%= render 'cases/case_assignment_controls',
            column: :assignee_id,
            users: @case.potential_assignees,
            assignee: @case.assignee
          %>
        </td>
      </tr>
      <tr>
        <th rowspan="<%= @case.credit_charge ? 4 : 3 %>">Affected components</th>
        <td rowspan="<%= @case.credit_charge ? 4 : 3 %>">
          <%= render 'cases/associations/association_info', kase: @case %>
          <% if @case.open? %>
            <% if policy(@case).edit_associations? %>
              <%= link_to 'Change affected components',
                          edit_cluster_case_associations_path(@case.cluster, @case),
                          class: 'btn btn-primary ml-2 btn-sm',
                          role: 'button'
              %>
            <% end %>
            <% if policy(MaintenanceWindow).create? && !@case.issue.administrative? %>
              <%= link_to 'Request maintenance',
                          @case.request_maintenance_path,
                          class: 'btn btn-secondary ml-2 btn-sm',
                          role: 'button'
              %>
            <% end %>
          <% end %>
        </td>
        <th>Assigned contact</th>
        <td id="case-contact-assignment">
          <%= render 'cases/case_assignment_controls',
            column: :contact_id,
            users: @case.potential_contacts,
            assignee: @case.contact
          %>
        </td>
      </tr>
      <tr>
        <th>State</th>
        <td id="case-state-controls">
          <%= @case.user_facing_state %>
          <%= render 'cases/case_state_controls' %>
        </td>
      </tr>
      <% if @case.credit_charge %>
      <tr>
        <th>Credit usage</th>
        <td><%= pluralize(@case.credit_charge.amount, 'credit') %></td>
      </tr>
      <% end %>
      <tr>
        <th>Issue type</th>
        <td><%= render 'cases/issue_controls', kase: @case %></td>
      </tr>
      <tr>
        <th>Tier</th>
        <td>
          <%= @case.tier_description %>
          <%= render 'cases/escalation_controls' %>
        </td>
      </tr>
      <% unless @case.maintenance_windows.unfinished.empty? %>
        <tr>
          <th>Pending maintenance</th>
          <td colspan="3" id="maintenance-details">
            <%= render 'cases/case_maintenance_details', kase: @case %>
          </td>
        </tr>
      <% end %>
      <%= render 'cases/fields_or_requests_row', kase: @case %>
      <%= render 'cases/time_worked_row' %>
      <tr>
        <th>Case history</th>
        <td colspan="3">
          <%= render 'case_comment_toggle_controls' %>
          <%= render 'case_comments/form' %>
          <% @case.events.each do |event| %>
            <%= event.decorate.event_card %>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
<% end %>
