<div class="dropdown">
  <b><%= caption %></b>
  <a
    aria-haspopup="true"
    class="filter <%= filters[:active].include?(name) ? 'filter-active' : 'filter-inactive' %>"
    data-toggle="dropdown"
    title="<%= title %>"
    tabindex=""
  >
    <i class="fa fa-filter"></i>
  </a>
  <div class="dropdown-menu dropdown-menu-right" data-display="static">
    <div class="px-3 py-1">
      <%= render("cases/filters/#{name}", filters: filters) %>
      <input class="btn btn-primary btn-sm" type="submit" value="Apply"/>
      <%=
        link_to 'Clear all filters',
                @scope.decorate.scope_cases_path,
                class: 'btn btn-danger btn-sm'
      %>
    </div>
  </div>
</div>
