
<h1>Listing contacts</h1>
 
<table>
  <tr>
    <th>Username</th>
    <th>Name</th>
    <th>Email</th>
  </tr>
 
  <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.username %></td>
      <td><%= contact.name %></td>
      <td><%= contact.email %></td>
      <td><%= link_to 'Show', contact_path(contact) %></td>
      <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
      <td><%= link_to 'Destroy', contact_path(contact),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>