
<p>
  <strong>Username:</strong>
  <%= @contact.username %>
</p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>
 
<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>
<%= link_to 'Back', site_path(@site) %>
<%= link_to 'Edit', edit_site_contact_path(@site, @contact) %>