<% if current_user.admin? %>
  <div class='card'>
    <%= render 'partials/card_header_nav', title: 'Add Log' %>
    <div class='card-body table-responsive'>
      <%= form_for [:cluster, @new_log] do |f| %>
        <div class='form-group'>
          <%= f.label :details, 'Details'%>
          <%= f.text_area :details, class: 'form-control'%>
        </div>
        <div class='form-group'>
          <%= f.label :case_ids, 'Related Ticket(s)' %>
          <%= f.collection_select :case_ids,
                                  @cases.decorate,
                                  :id,
                                  :rt_long_text,
                                  {},
                                  { multiple: true } %>
        </div>
        <div class='form-group'>
          <%= f.submit 'Submit', class: dark_button_classes %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class='card'>
  <%= render 'partials/card_header_nav', title: 'Entries' %>
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <th>Date Created</th>
        <th>Engineer</th>
        <th>Details</th>
        <th>Tickets</th>
      </thead>
    </table>
  </div>
</div>

