<% content_for(:subtitle) { 'Logs' } %>
<%= render 'partials/tabs', activate: :logs do %>
  <%= render 'partials/table',
      collection: @logs,
      message: "No logs to display" do %>
    <thead>
      <th>Date Created</th>
      <th>Engineer</th>
      <th>Details</th>
      <th>Associated Component</th>
      <th>Related Case(s)</th>
    </thead>
    <% @logs.each do |log| %>
      <tr>
        <%= timestamp_td(description:  'Logged', timestamp: log.created_at) %>
        <td class="nowrap"><%= log.engineer.name %></td>
        <td><%= log.rendered_details %></td>
        <td>
          <%= log.component&.decorate&.link || raw("<em>None</em>") %>
        </td>
        <td>
          <% log.cases.map(&:decorate).each do |kase| %>
            <%= kase.case_link %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
<% end %>


<% if policy(@new_log).create? %>
  <div class='card'>
    <%= render 'partials/card_header_nav', title: 'Add Log' %>
    <div class='card-body table-responsive'>
      <% log_type = (@component ? :component : :cluster) %>
      <%= form_for [log_type, @new_log] do |f| %>
        <div class='form-group'>
          <%= f.label :details, 'Details'%>
          <%= f.text_area :details, class: 'form-control'%>
        </div>
        <% if @components %>
          <div class='form-group'>
            <%= f.label :component, 'Component (optional)' %>
            <%= f.collection_select :component_id,
                                    @components,
                                    :id,
                                    :name,
                                    { include_blank: true },
                                    { class: 'form-control' } %>
          </div>
        <% end %>
        <div class='form-group'>
          <%= f.label :case_ids, 'Related Case(s)' %>
          <%= f.collection_select :case_ids,
                                  @cases.active.decorate,
                                  :id,
                                  :case_select_details,
                                  {},
                                  {
                                    multiple: true,
                                    class: 'form-control',
                                    style: 'overflow:scroll',
                                    size: 10
                                  } %>
        </div>
        <div class='form-group'>
          <%= f.submit 'Submit', class: dark_button_classes %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
