
<div class='card'>
  <div class='card-header'>
    <ul class="nav">
      <li class="nav-item">
        <span class="navbar-brand">
          Overview
        </span>
      </li>
    </ul>
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <%= site.rendered_description.html_safe %>
    </li>
    <li class="list-group-item">
      Primary site contact: <%= site.primary_contact&.info || raw('<em>Unset</em>') %>
    </li>
    <li class="list-group-item">
      Secondary site <%= 'contact'.pluralize(site.secondary_contacts.length) %>:
      <%= site.secondary_contacts.present? ? site.secondary_contacts_info : raw('<em>None</em>') %>
    </li>
    <li class="list-group-item">
      Additional site contacts: <%= site.additional_contacts_info %>
    </li>
  </ul>
</div>

<% site.clusters.each do |cluster| %>
  <div class='card'>
    <div class='card-header'>
      <ul class="nav">
        <li class="nav-item">
          <span class="navbar-brand">
            <%= cluster.name %> overview
          </span>
        </li>
        <li class="nav-item">
          <%= link_to 'Manage this cluster',
            cluster_path(cluster),
            class: ['nav-link', 'btn', 'btn-dark'],
            role: 'button'
          %>
        </li>
      </ul>
    </div>

    <%= render 'clusters/details', cluster: cluster %>
  </div>
<% end %>

<%= render 'cases/cases_table', cases: site.cases, archive: false %>
