<% content_for(:subtitle) { 'Overview' } %>

<%= render 'partials/tabs', activate: :overview do %>
  <div class="card-body row">
    <div class="col-6 card-text">
      <h3><%= site.name %></h3>
      <p><%= site.rendered_description %></p>

      <h4>Primary site contact</h4>
      <ul><li><%= site.primary_contact&.decorate&.info || raw('<em>Unset</em>') %></li></ul>

      <div class="secondary_contacts_list">
        <%= site.secondary_contacts_list %>
      </div>

      <div class="viewers_list">
        <%= site.viewers_list %>
      </div>

      <% if site.additional_contacts.present? %>
        <h4>Additional site contacts</h4>
        <ul>
          <% site.additional_contacts.each do |contact| %>
            <li><a href="mailto:<%= contact.email %>"><%= contact.email %></a></li>
          <% end %>
        </ul>
      <% end %>
      <div class="site-services">
        <h4>Site services</h4>
        <% if !site.terminal_services.empty? %>
          <ul>
            <% site.terminal_services.each do |service| %>
              <li>
                <%= render 'sites/service', service: service %>
              </li>
            <% end %>
          </ul>
        <% else %>
          No site services are currently available for this site.
        <% end %>
      </div>
    </div>
    <div class="col">
      <h3>Clusters</h3>
      <div class="list-group cluster-list">
        <% site.clusters.each do |cluster| %>
          <%= render 'sites/cluster_box', cluster: cluster %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
