<% content_for :subtitle { 'Overview' } %>

<%= render 'partials/tabs', activate: :overview do %>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <%= site.rendered_description.html_safe %>
    </li>
    <li class="list-group-item">
      Primary site contact: <%= site.primary_contact&.info || raw('<em>Unset</em>') %>
    </li>
    <li class="list-group-item">
      Secondary site <%= 'contact'.pluralize(site.secondary_contacts.length) %>:
      <%= site.secondary_contacts.present? ? site.secondary_contacts_info : raw('<em>None</em>') %>
    </li>
    <% if site.additional_contacts_info.present? %>
      <li class="list-group-item">
        Additional site contacts: <%= site.additional_contacts_info %>
      </li>
    <% end %>
  </ul>
  <% site.clusters.each do |cluster| %>
    <li class='list-group-item list-group-item-action text-center'>
      <%= link_to "#{cluster.name} - Manage this cluster",
                  cluster_path(cluster) %>
    </li>
  <% end %>
<% end %>
