<% content_for(:subtitle) { 'Overview' } %>

<%= render 'partials/tabs', activate: :overview do %>
  <div class="card-body row">
    <div class="col-6 card-text">
      <h3><%= site.name %></h3>
      <p><%= site.rendered_description %></p>

      <h4>Primary site contact</h4>
      <ul><li><%= site.primary_contact&.decorate&.info || raw('<em>Unset</em>') %></li></ul>

      <div class="secondary_contacts_list">
        <%= site.secondary_contacts_list %>
      </div>

      <div class="viewers_list">
        <%= site.viewers_list %>
      </div>

      <% if site.additional_contacts.present? %>
        <h4>Additional site contacts</h4>
        <ul>
          <% site.additional_contacts.each do |contact| %>
            <li><a href="mailto:<%= contact.email %>"><%= contact.email %></a></li>
          <% end %>
        </ul>
      <% end %>
      <div class="site-services">
        <h4>Site services</h4>
        <% if site.flight_directory_config.present? %>
          <ul>
            <li>
              <h5>User and group directory</h5>
              <span>
                <%= link_to "Manage",
                            "#{ENV.fetch('TERMINAL_SERVICE_BASE_URL')}/directory",
                            PolicyDependentOptions.wrap(
                              {class: ['btn', 'btn-primary']},
                              policy: policy(site.flight_directory_config).show?,
                              action_description: 'manage user and group directory',
                              user: current_user
                            )
                %>
              </span>
            </li>
          </ul>
        <% else %>
          No site services are currently available for this site.
        <% end %>
      </div>
    </div>
    <div class="col">
      <h3>Clusters</h3>
      <div class="list-group cluster-list">
        <% site.clusters.each do |cluster| %>
          <div class="list-group-item">
            <h4><%= cluster.name %></h4>
            <span>
              <%= link_to "Manage this cluster",
                          cluster_path(cluster),
                          class: [
                            'btn',
                            'btn-primary'
                          ]
              %>
              <%= link_to "View cases",
                          cluster_cases_path(cluster),
                          class: [
                            'btn',
                            'btn-primary'
                          ]
              %>

              <%= link_to "Create case",
                          new_cluster_case_path(cluster),
                          PolicyDependentOptions.wrap(
                            {class: ['btn', 'btn-danger']},
                            policy: policy(Case).create?,
                            action_description: 'create a case',
                            user: current_user
                          )
              %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
