<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Alces Flight Center</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'new_case_form' %>

    <%= stylesheet_link_tag 'flight-branding/main.2559e3f5',
      media: 'all',
      'data-turbolinks-track': 'reload'
    %>
    <%= stylesheet_link_tag 'flight-branding/fonts',
      media: 'all',
      'data-turbolinks-track': 'reload'
    %>
    <%= stylesheet_link_tag 'development_ribbon' if Rails.env.development? %>
  </head>

  <body>
    <div class='initial-brand-header'></div>
    <div id='brand-header'></div>
    <%= render 'partials/nav_bar' %>
    <div class='page-content'>

      <% if @title %>
          <div class="card title-card">
            <div class="card-body">
            <h1><%= @title %></h1>
            <p class="lead" style="font-size: 18px;">
              <%= yield :subtitle %>
            </p>
          </div>
        </div>
      <% end %>

      <div class="container page-container">
        <%= render 'partials/flash_alert', flash_key: :alert, alert_class: 'alert-danger' %>
        <%= render 'partials/flash_alert', flash_key: :error, alert_class: 'alert-danger' %>
        <%= render 'partials/flash_alert', flash_key: :success, alert_class: 'alert-success' %>
        <%= render 'partials/flash_alert', flash_key: :notice, alert_class: 'alert-info' %>

        <%= yield %>
      </div>

    </div>

    <div id='brand-footer'></div>
    <script>
      window.__SSO_BASE_URL__ = '<%= Rails.application.config.sso_base_url %>';
      window.__REFRESH_AFTER_LOGIN__ = true;
      window.__REFRESH_AFTER_LOGOUT__ = true;
      window.__ENABLE_CENTER_SSO__ = true;
    </script>
    <script src='/flight-branding/main.37c9afc6.js'></script>
  </body>
  <%= development_ribbon position: :left, color: :green if Rails.env.development? %>
</html>
