<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Alces Flight Center</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'new_case_form' %>

    <%= stylesheet_link_tag 'flight-branding/flight-chrome',
      media: 'all',
      'data-turbolinks-track': 'reload'
    %>
    <%= stylesheet_link_tag 'flight-branding/fonts',
      media: 'all',
      'data-turbolinks-track': 'reload'
    %>
    <%= stylesheet_link_tag 'development_ribbon' if Rails.env.development? %>
  </head>

  <body>
    <div class='initial-brand-header'></div>
    <div id='brand-header'></div>
    <%= render 'partials/nav_bar' %>
    <div class='page-content'>

      <% if @title %>
        <div class="jumbotron">
          <div class="container-fluid">
            <div class="row">
              <div class="col"></div>
              <div class="col-8">
                <h1 class="display-4"><%= @title %></h1>
                <% subtitle = yield :subtitle %>
                <% if subtitle.present? %>
                  <p class="lead"><%= subtitle %></p>
                <% end %>
              </div>
              <div class="col"></div>
            </div>
          </div>
        </div>
      <% end %>

      <div class="container-fluid page-container">
        <%= render 'partials/flash_alert', flash_key: :alert, alert_class: 'alert-danger' %>
        <%= render 'partials/flash_alert', flash_key: :error, alert_class: 'alert-danger' %>
        <%= render 'partials/flash_alert', flash_key: :success, alert_class: 'alert-success' %>
        <%= render 'partials/flash_alert', flash_key: :notice, alert_class: 'alert-info' %>

        <% if signed_in? %>
          <div class="row">
            <div class="col"></div>
            <div class="col-8">
              <%= yield %>
            </div>
            <div class="col"></div>
          </div>
        <% else %>
          <%= yield %>
        <% end %>
      </div>

    </div>

    <div id='brand-footer'></div>
    <script src='/flight-branding/flight-chrome.js'></script>
  </body>
  <%= development_ribbon position: :left, color: :green if Rails.env.development? %>
</html>
